html{
    font-size: 17px;
}
body{
    background-color: rgb(226, 226, 226);
    font-family:Arial, Helvetica, sans-serif
}
.content{
    display: flex;
}
.container{
    background-color: rgb(226, 226, 226);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.title{
font-size: 1.5rem;
color: coral;
font-weight: 600;
margin-top: 5px;
margin-bottom: 5px;
}
.date{
    font-size: 0.8rem;
    color: grey;
}
h1{
    font-weight:800;
    color:coral
}
.portfolio-element{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(194, 194, 194);
    border-radius: 3px;
    padding:10px; 
    max-width: 33%;
    margin: 5px;
    background-color: white;
    box-shadow: 10px 10px 10px rgb(194, 194, 194);
}
.submit{
    background-color: coral;
    border-style: solid;
    border-color: coral;
    font-weight: bold;
    margin: 15px;
    border-radius: 5px;;
    cursor: pointer;
    width: 50%;
    color: white;
    box-shadow: 0 0px 2px 0 rgb(255, 255, 255);
    padding:10px;
    margin-left: auto;
    margin-right: auto;

}
.submit:hover{
    background-color: white;
    border-color: coral;
    font-weight: bold;
    color: rgb(202, 86, 43);
    box-shadow: 0 0px 2px 0 rgb(255, 255, 255);
}
.image{
    max-width: 100%;
}
.button{
    text-align: center;
}
h1{
    text-align: center;
}
.description{
    height: 150px;
    text-align: center;
    padding: 5px;
}
